@import 'assets/scss/helpers/variables';

.homeBg {
  width: 100%;
  height: 100vh;
}

.topBar {
  margin-top: 25px;
  margin-right: 25px;
  @media (min-width: 769px) {
    margin-top: 50px;
    margin-right: 50px;
  }
}

.signOutBtn {
  margin-left: auto;
  min-width: 130px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  &:hover,
  &:active {
    background-color: lighten($color: $primary, $amount: 2);
    color: #ffffff;
    border-color: #ffffff;
  }
}

.userAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.homeContainer {
  height: calc(100vh - 110px);
}

.homeCircle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: linear-gradient(324.93deg, #0f70da 0.74%, #007aff 100%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 769px) {
    width: 593px;
    height: 593px;
  }
}
