@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$primary: #007aff;
$secondary: #2d3748;
$danger: #e9683f;

$font-family-sans-serif: 'Poppins', sans-serif;
$body-color: $secondary;
